extends layout

block content
  h1= title
  //- p Welcome to #{title}
  p Welcome to '#{title}' Backend
  //- h2 #{Climate Control System} Backend
  p Developed by Subanesh Kumarasamy
  p Powered by VAct Technologies
  p Contact: subaneshtech@gmail.com
  p Visit our website: www.vact-tech.com